/* Define styles for the default root window element */
:root {
  --accent-color: #cacaca;
  --bg-color-primary: #ebebeb;
  --bg-color-secondary: #fafafa;
  --bg-color-form: #00B8E2;
  --bg-color-btn-send: transparent;
  --bg-color-error: rgb(201, 0, 0);
  --txt-color-btn-send: #fff;
  --txt-primary-color: #222;
}

/* Define styles for the root window with dark - mode preference */
:root.dark-theme {
  --accent-color: #3f3f3f;
  --bg-color-primary: #1e1e1e;
  --bg-color-secondary: #2d2d30;
  --bg-color-form: #338193;
  --txt-primary-color: #ddd;
}

